//  ************
//  *** maps ***
//  ************

//  font map
$general-font-sizes: (
  "h1": 22px,
  "h2": 20px,
  "h3": 16px,
  "h4": 16px,
  "h5": 16px,
  "h6": 16px,
  "p": 16px,
  "a": 16px
);

//  ***********************
//  *** asignacion maps ***
//  ***********************

//  font map
@each $tag, $size in $general-font-sizes {
  #{$tag} {
    font-size: $size;
  }
}

//  ******************
//  *** size fonts ***
//  ******************

//  footer -- se quiere que el footer no sea tan grande y llamativo por eso utilizo fuentes especiales chicas.
$font-footer-item: 12px;
$font-footer-copyright: 9px;
$font-footer-marca: 12px;

// carta
$font-producto-titulo: 14px;
$font-producto-precio: 12px;
$font-producto-new: 10px;
$font-gallery-user: 9px;

// contacto
$font-contacto-newsteller: 12px;

//  ****************
//  *** spacings ***
//  ****************

// texto
$letter-spacing: 4px;

//  entre cartas (grilla)
$spacing-grilla: 1em;
$spacing-grilla-mobile: .8em .3em;


