#carouselExampleControlsTouching {
  padding: 0;
}

@media screen and (max-width: 991.99px) {
  .carrusel__img--desktop {
    display: none;
  }

  .carrusel__img--tablet-mobile {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .carrusel__img--desktop {
    display: block;
  }

  .carrusel__img--tablet-mobile {
    display: none;
  }
}