@use '../base/colors';
@use '../base/fonts';
@use '../utilities/variables';

.divisor {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: variables.$spacing-section;

    &__linea {
        width: 100%;
        height: 1px;
        background-color: colors.$color-light2;
        flex: 1;
    }

    &__texto {
        text-align: center;
    }

    &__titulo {
        font-family: fonts.$font-stretch;
        text-transform: uppercase;
    }

    &__subtitulo {
        color: colors.$color-light2;
    }

}