@use '../base/colors';
@use '../base/fonts';
@use '../utilities/variables';
@use '../utilities/mixins';


.formulario {
    margin-top: 5em;

    &-decorativo {
        position: relative;
        margin-right: 1em;

        &__img {
            width: 100%;
            flex: 1;
        }

        &__marco {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 10px;
            left: 10px;
            border: 1px solid;
            border-image: colors.$color-gradient-primary 1;
            z-index: -1;
            transition: all 0.3s ease;
        }
    }

    &-input {
        @include mixins.resetInput();
        padding: .4em 0 .4em .6em;
        background-color: colors.$color-light;
    }

    &-input__checkbox-newsteller {
        display: flex;
        align-items: center;
        font-size: variables.$font-contacto-newsteller;
        gap: .5em;
    }

}

@media screen and (max-width: 991.99px) {
    .formulario-decorativo__img {
        display: none;
    }

    .formulario-decorativo__marco {
        display: none;
    }

    .formulario {
        margin: 1em;
    }
}