@use '../base/colors';
@use '../base/fonts';
@use '../utilities/variables';
@use '../utilities/mixins';

.registro {
    padding: 1em;
    background-color: colors.$color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;

    &__text {
        letter-spacing: variables.$letter-spacing;
        color: colors.$color-dark;
        text-transform: uppercase;
        text-align: center;

        &--detalle {
            @extend .registro__text;
            @include mixins.degradado(colors.$color-gradient-primary);
        }
    }
}

.newsletter {
    padding: 1em;
    background-color: colors.$color-light;
}